<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">

	<display-name>TaskMaster_CapstoneProject_Group7</display-name>

	<servlet>
		<servlet-name>TaskServlet</servlet-name>
		<servlet-class>com.group7.taskmaster.servlets.TaskServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>RegisterServlet</servlet-name>
		<servlet-class>com.group7.taskmaster.servlets.RegisterServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>ActivateUser</servlet-name>
		<servlet-class>com.group7.taskmaster.servlets.ActivateUser</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>ActivateUser</servlet-name>
		<url-pattern>/ActivateUser</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>RegisterServlet</servlet-name>
		<url-pattern>/RegisterServlet</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>TaskServlet</servlet-name>
		<url-pattern>/tasks</url-pattern>
	</servlet-mapping>


	<context-param>
		<param-name>dbURL</param-name>
		<param-value>jdbc:mysql://localhost:3309?user=root/logs</param-value>
	</context-param>


</web-app>